.Game {
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  box-shadow: 0 0 25px black;
  color: white;
  padding: 10px;
}

.GameType {
  height: 40px;
  font-size: calc(8px + 1vmin);
  color: rgb(21, 116, 241);
}

.GameDesc {
  margin: 0 40px;
}

.GameForm {
  text-align: center;
  margin: 10px auto;
  width: fit-content;
}

.GameForm input {
  width: 80%;
  font-size: 24px;
}

.GameContent {
  margin: 20px 40px;
}

.GameSubmit {
  text-align: center;
  height: 40px;
}

.GameSubmit button {
  background-color: rgb(70, 201, 99);
  width: 400px;
  border-radius: 10px;
  height: 40px;
  font-size: 18px;
}

.GameResult {
  text-align: center;
}
